html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.baqala {
    max-width: 50%;
    margin-left: 10px;
    object-fit: cover;
}
